.navbar-fixed-top {
  background-color: transparent;
} 
header#navbar.navbar-fixed-bottom,
header#navbar .navbar-toggle {
  background-color: #ffffff;
}
.header-brown-content .main-desc,
.header-brown-content .main-title-first,
.header-brown-content .main-title-second,
a,
a:hover,
a:visited,
li a {
  color: #2d5798;
}
body.path-frontpage header#navbar.scrolled .navbar-brand,
header#navbar.scrolled .navbar-nav > li > a,
header#navbar.scrolled .navbar-brand,
header#navbar.navbar-inverse a,
header#navbar.navbar-inverse .navbar-brand{
  color: #ffffff;
}
header#navbar .menu-depth-1 .dropdown-menu li a {
  color: #252525;
}  
header#navbar .navbar-nav > li > a:focus, 
header#navbar .navbar-nav > li > a:hover,
header#navbar #navigation ul > li .active {
  border-bottom-color: #171717;
}
header#navbar #navigation ul > li .active {
  color: #171717;
}  
header#navbar .navbar-toggle .icon-bar,
header#navbar.scrolled,
header#navbar.navbar-inverse {
  background-color: #2d5798;
}
header#navbar .navbar-toggle {
  border-color: #ffffff;
}
header#navbar.scrolled .navbar-nav > li > a:hover {
  color: #ffe6e1;
}
header#navbar.scrolled .navbar-nav > li > a:focus, 
header#navbar.scrolled .navbar-nav > li > a:hover {
  border-bottom-color: #ffe6e1;
}

@media (max-width: 767px) {
  header#navbar.navbar-fixed-top.scroll-top .navbar-collapse,
  header#navbar.navbar-fixed-top.scroll-top .collapse,
  header#navbar.scrolled .navbar-toggle:hover, 
  header#navbar.scrolled .navbar-toggle:focus  {
    background-color: #ffffff;
  }
  header#navbar .navmenu,
  header#navbar.navbar-inverse.navbar-fixed-top.scroll-top .navbar-collapse,
  header#navbar.navbar-inverse.navbar-fixed-top.scroll-top .collapse {
    background-color: #2d5798;
  }  
  header#navbar .navbar-nav a,
  header#navbar .navbar-nav > li > a,
  header#navbar .navbar-nav > li > a:focus, 
  header#navbar .navbar-nav > li > a:hover,
  header#navbar .navbar-nav a:hover {
    color: #2d5798;    
  }
  header#navbar.scrolled .navbar-nav a:hover,
  header#navbar.scrolled .navbar-nav .open .dropdown-menu>li > a,
  header#navbar.scrolled .navbar-nav .open .dropdown-menu>li>a:hover, 
  header#navbar.scrolled .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #ffe6e1;
  }
  header#navbar.navbar-inverse .navbar-nav li.menu-depth-1  > a,
  header#navbar.navbar-inverse .navbar-nav li.menu-depth-1  > a:hover  {
    color: #ffffff;
  }  
  header#navbar.scrolled .navbar-nav .open .dropdown-menu>li>a:hover, 
  header#navbar.scrolled .navbar-nav .open .dropdown-menu>li>a:focus, 
  header#navbar.scrolled .navbar-nav>.open>a, 
  header#navbar.scrolled .navbar-nav>.open>a:hover, 
  header#navbar.scrolled .navbar-nav>.open>a:focus,
  header#navbar .nav .open>a, 
  header#navbar .nav .open>a:hover, 
  header#navbar .nav .open>a:focus,
  header#navbar .dropdown-menu>li>a:hover, 
  header#navbar .dropdown-menu>li>a:focus,
  header#navbar .navbar-nav > li > a:focus, 
  header#navbar .navbar-nav > li > a:hover,
  header#navbar .dropdown-menu > li > a:hover, 
  header#navbar .dropdown-menu > li > a:focus  {
    background-color: transparent;
  }
  header#navbar .nav .open>a, 
  header#navbar .nav .open>a:hover, 
  header#navbar .nav .open>a:focus,
  header#navbar .dropdown-menu > li > a:hover, 
  header#navbar .dropdown-menu > li > a:focus  {
    border-color: #ffffff;
  }
}

.footer-wrap .footer-copyright-social{
  background-color: #2d3451;
}
.footer-wrap .footer-subscribe {
  background-color: #34425f;
}
.footer-wrap .footer-subscribe .subscribe-form-submit,
.footer-wrap .footer-subscribe button{
  background-color: #2d3451;
  border-color: #2d3451;
}  
.footer-wrap .footer-subscribe #contact_email {
  color: #2d3451;
}
.footer-wrap,
.footer-wrap a,
.footer-wrap ul li a,
.footer-wrap .footer-copyright-social,
.footer-wrap .footer-subscribe .form-control-static,
.footer-wrap .footer-subscribe .subscribe-form-submit,
.footer-wrap .footer-social .follow-link-wrapper i:before{
  color: #f6f6f6;
}
.footer-wrap .footer-social .follow-link-wrapper i:hover:before{
  color: #34425f;
}

.content-light-orange .btn-orange,
.content-light-orange,
.content-light-orange .content-text p {
  color: #4c4c4c;
}
.content-light-orange h1,
.content-light-orange h2,
.content-light-orange h3,
.content-light-orange h4,
.content-light-orange h5,
.content-light-orange h6 {
  color: #e9563d;

}
.content-light-orange .btn-orange {
  border-color: #5298ff;
}

/***************************************************************/
/****************   Content dark pink starts *******************/
/***************************************************************/
.content-dark-pink {
  background-color: #ffffff;
}
.content-dark-pink a,
.content-dark-pink h2{
  color: #d94646;
}
.content-dark-pink h3,
.content-dark-pink h4,
.content-dark-pink h5,
.content-dark-pink h6,
.content-dark-pink {
  color: #4c4c4c;
}
.content-dark-pink .btn {
  background-color: #56b9f6;
  border-color: #56b9f6;
  color: #ffffff;
}
.content-dark-pink .btn:hover {
  background-color: #4daee9;
  border-color: #4daee9;
}
.content-dark-pink .underline,
.content-dark-pink h3 { 
  border-color: #587083;
}
/***************************************************************/
/****************   Content dark pink end    *******************/
/***************************************************************/

